@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DesignRoom/BaseObject.js"></script>

    <script src="~/Scripts/DesignRoom/ToolBar.js"></script>
    <script src="~/Scripts/DesignRoom/Equipment.js"></script>
    <script src="~/Scripts/DesignRoom/Room.js"></script>
    <script type="text/javascript">
        /*===========================================================================================================================*/

        //Global Variable Begin

        var everything=new Array();
        var loadingInterval;
        var canvas;
        var ctx;
        var currentRoom;
        var toolBar
        //too尺寸
        var toolIcon
        //鼠标按下选中的对象
        var mouseDownObj;

        var sourceCount = 0;
        var totalSourceCount = 2;


        var stage = {
            margin: 10,
            width: 500,
            height:500,
        }

        var equipmentTypes = {
            chair: Chair.name,
            desk: Desk.name
        }

        var types = {
            equipment: Equipment.name,
            room:Room.name
        } 

        //Global Variable End

        /*===========================================================================================================================*/
        
        //Main Begin

        $(function () {
            canvas = document.getElementById("roomCanvas");
            ctx = canvas.getContext("2d");

            canvas.addEventListener("mousedown", mouseDown, false);
            canvas.addEventListener("mousemove", mouseMove, false);
            canvas.addEventListener("mouseup", mouseUp, false);

            showLoading();
            loadingInterval = window.setInterval(load, 100);
        });

        //Main End

        /*===========================================================================================================================*/

        //Event Begin

        function load() {
            refreshLoadPercent();
            if (sourceCount < totalSourceCount) {
                return;
            }
            else {
                window.clearInterval(loadingInterval);
                window.setTimeout(hideLoading,1000);
                generateRoom();
                drawEverything();
            }
        }

        function generateRoom() {
            //重新生成要清空everything
            everything = new Array();

            var width = $("#txtRoomWidth").val();
            var height = $("#txtRoomHeight").val();

            if (width.trim() != "") {
                width = new Number(width);
            }
            else {
                width = 0;
            }
            if (height.trim() != "") {
                height = new Number(height);
            }
            else {
                height = 0;
            }

            //创建一个toolBar
            var toolBarPosition = new Position(0, 0);
            var toolBarSize = new Size(50, height);
            var toolBarMargin = 5;
            toolBar = new ToolBar(toolBarPosition, toolBarSize, toolBarMargin);

            var roomX = stage.margin + toolBar.size.width;
            var roomY = stage.margin;

            var roomWidth = width;
            var roomHeight = height;

            var canvasWidth = stage.margin * 2 + width + toolBar.size.width;
            var canvasHeight = stage.margin * 2 + height;

            $(canvas).attr("width", canvasWidth);
            $(canvas).attr("height", canvasHeight);
             
            var roomPosition = new Position(roomX, roomY);
            var roomSize = new Size(roomWidth, roomHeight);

            currentRoom = new Room(roomPosition, roomSize);

            everything.push(currentRoom);

            //currentRoom.draw();

            generateTools();
            return false;
        }

        function generateTools() {
            toolBar.tools = new Array();
            
            toolIcon = {
                width: toolBar.size.width - 2 * toolBar.margin,
                height: toolBar.size.width - 2 * toolBar.margin,
            };

            var chairToolPosition = new Position(0, 0);
            var chairToolSize = new Size(toolIcon.width, toolIcon.height);
            var chairTool = new Chair(chairToolPosition, chairToolSize, $("#imgChair")[0]);

            var deskToolPosition = new Position(0, 0);
            var deskToolSize = new Size(toolIcon.width, toolIcon.height);
            var deskTool = new Desk(deskToolPosition, deskToolSize, $("#imgDesk")[0]);

            toolBar.addTool(chairTool);
            toolBar.addTool(deskTool);

            var toolX = toolBar.margin;
            var toolY = stage.margin + toolBar.margin;


            for (var i = 0; i < toolBar.tools.length; i++) {
                toolBar.tools[i].move(toolX, toolY);
                everything.push(toolBar.tools[i]);
             
                toolY += toolIcon.height + toolBar.margin;
            }

        }

        function mouseDown(ev)
        {
            var mousePosition = new MousePosition(ev);

            if (mousePosition.position.x < toolBar.size.width)
            {//鼠标在toolBar内
                for (var i = 0; i < toolBar.tools.length; i++)
                {
                    var tool = toolBar.tools[i];
                    if (tool.isContainPoint(mousePosition.position.x, mousePosition.position.y))
                    {//鼠标在toolIcon内
                        var position = new Position(0, 0);
                        var size = new Size(toolIcon.width, toolIcon.height);
                        switch (tool.equipmentType)
                        {
                            case equipmentTypes.chair:
                                mouseDownObj = new Chair(position,size, $("#imgChair")[0]);
                                break;
                            case equipmentTypes.desk:
                                mouseDownObj = new Desk(position, size, $("#imgDesk")[0]);
                                break;
                        }
                    }
                }
                
            }

            //alert(mousePosition.position.x+"_"+mousePosition.position.y);
        }

        function mouseMove(ev) {
            var mousePosition = new MousePosition(ev);

            if (mouseDownObj != null)
            {
                if (mouseDownObj.type == types.equipment)
                {
                    mouseDownObj.move(mousePosition.position.x, mousePosition.position.y);
                }
            }

            drawEverything();
            //alert(mousePosition.position.x+"_"+mousePosition.position.y);
        }

        function mouseUp(ev)
        {
            var mousePosition = new MousePosition(ev);

            if (mouseDownObj != null) {
               
                if (mouseDownObj.isInObj(currentRoom)
                    ) {//当前鼠标选中对象在对象内
                    var newObj = mouseDownObj;
                    everything.push(newObj);
                    mouseDownObj = null;
                }
                else {
                    mouseDownObj = null;
                }
               
            }

            drawEverything();
        }

        function drawEverything()
        {
            ctx.clearRect(0, 0, stage.width, stage.height);
  
            for (var i = 0; i < everything.length; i++)
            {
                everything[i].draw();
            }

            if (mouseDownObj != null)
            {
                mouseDownObj.draw();
            }
        }

        function showLoading()
        {
            var screenHeight = document.body.offsetHeight;
            var screenWidth = document.body.offsetWidth;

            $("#divLoading").css("height", screenHeight);
            $("#divLoading").show();

        }

        function hideLoading() {
            $("#divLoading").hide();
        }

        function refreshLoadPercent()
        {
            $("#divLoading").text("loading..."+ sourceCount/totalSourceCount*100 + "%");
        }

        //Event End
        /*===========================================================================================================================*/
    </script>
</head>
<body>
    <form>
        <div id="divLoading" style="position:absolute; width:100%; z-index:999;display:none;background-color:beige">
            loading...0%
        </div>

        <div>
            长：<input id="txtRoomWidth" type="text" value="500" />
            宽：<input id="txtRoomHeight" type="text" value="500" />
            <input type="button" id="btnEnter" value="确定" onclick="return generateRoom()" />
        </div>

        <div>
            <canvas id="roomCanvas" style="border:1px solid black" width="500" height="500"></canvas>
        </div>

        <div id="divImg">
            <img id="imgChair" src="~/Source/Chair.png" width="0" height="0" />
            <img id="imgDesk" src="~/Source/Desk.png" width="0" height="0" />
            <script>
                $("img").each(function () {
                    this.onload = function () {
                        sourceCount++;
                    }
                })
            </script>
        </div>

    </form>
   
    
</body>
</html>
