@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/DesignRoom.css" rel="stylesheet" />

    <script src="~/Scripts/DesignRoom/Common.js"></script>
    <script src="~/Scripts/DesignRoom/GUID.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DesignRoom/Extend.js"></script>
    <script src="~/Scripts/DesignRoom/BaseObject.js"></script>
    <script src="~/Scripts/DesignRoom/Stage.js"></script>
    <script src="~/Scripts/DesignRoom/ToolBar.js"></script>
    <script src="~/Scripts/DesignRoom/Tool/Tool.js"></script>
    <script src="~/Scripts/DesignRoom/Tool/ChairTool.js"></script>
    <script src="~/Scripts/DesignRoom/Tool/DeskTool.js"></script>
    <script src="~/Scripts/DesignRoom/Tool/MultiChoseTool.js"></script>
    <script src="~/Scripts/DesignRoom/Tool/ResizeTool.js"></script>
    <script src="~/Scripts/DesignRoom/Equipment.js"></script>
    <script src="~/Scripts/DesignRoom/Room.js"></script>
    <script type="text/javascript">
        /*===========================================================================================================================*/
      
        //Global Variable Begin
        var showObjType = true;
        var sourceCount = 0;
        var totalSourceCount = 8;
        var loadingInterval;


        var stapArray = new Array();
        var everything=new Array();
        var canvas;
        var ctx;
        var currentRoom;
        var toolBar
        var stage;
        var toolIcon
        var currentOpObj;


        


        //Global Variable End

        /*===========================================================================================================================*/
        
        //Main Begin

        $(function () {
            canvas = document.getElementById("roomCanvas");
            ctx = canvas.getContext("2d");

            canvas.addEventListener("mousedown", mouseDown, false);
            canvas.addEventListener("mousemove", mouseMove, false);
            canvas.addEventListener("mouseup", mouseUp, false);
            window.addEventListener("keydown", keyDown, false)

            showLoading();
            loadingInterval = window.setInterval(load, 100);
        });

        //Main End

        /*===========================================================================================================================*/

        //Keyboard And Mouse Event Begin
        var preventDefaultKeyCode = [37, 38, 39, 40,46, 89, 90];

        function keyDown(ev) {
            var e = ev || window.event;
            var keyCode;
            keyCode = e.keyCode;
            
            
       
            if (preventDefaultKeyCode.indexOf(keyCode) >= 0)
            {
               
                e.preventDefault();//停止默认动作
                if (currentOpObj != null) {
                    currentOpObj.onKeyDown(e);
                    RecordStap();
                }
                switch (keyCode) {
                    case 89://y
                        if (e.ctrlKey) {
                            keyboardCtrlYDown();
                        }
                        break;
                    case 90://z
                        if (e.ctrlKey) {
                            keyboardCtrlZDown();
                        }
                        break;

                    default:
                        document.removeEventListener("keydown", keyDown, false);
                        break
                }
            }

            drawEverything();
            
        }
          
        function keyboardCtrlZDown()
        {
            preStap();
            drawEverything();
        }

        function keyboardCtrlYDown() {
            nextStap();
            drawEverything();
        }

        function mouseDown(ev) {
            var mousePosition = new MousePosition(ev);
            everything.sortByPositionZ();//z值高的总在数组后边

            for (var i = everything.length - 1; i >= 0; i--) {//从数据后往前找选中的对象    
                if (everything[i].isContainPoint(mousePosition.position.x, mousePosition.position.y)) {
                    currentOpObj = everything[i];
                    currentOpObj.onMouseDown(ev);
                    break;
                }
            }

            drawEverything();

        }

        function mouseMove(ev) {
            everything.sortByPositionZ();//z值高的总在数组后边
            if (currentOpObj != null) {
                currentOpObj.onMouseMove(ev);
            }

            drawEverything();

        }

        function mouseUp(ev) {
            if (currentOpObj != null) {
                currentOpObj.onMouseUp(ev);
            }

            //如果有ResizeTool则以ResizeTool为CurrentOpObj
            for (var i = 0; i < everything.length; i++)
            { 
                if (everything[i].type == Tool.name)
                {
                    if (everything[i].toolType == ResizeTool.name)
                    {
                        currentOpObj = ResizeTool.unique;
                    }
                }
            }

            RecordStap();
            drawEverything();
        }

        function drawEverything() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            everything.sortByPositionZ();//z值高的总在数组后边
            for (var i = 0; i < everything.length; i++) {//从数据后往前找选中的对象
                everything[i].draw();
            }

        }


        //Keyboard And Mouse Event End

        /*===========================================================================================================================*/
        
     
    </script>
</head>
<body>
    <form>
        <div id="divLoading" style="position:absolute; width:100%; z-index:999;display:none;background-color:beige">
            loading...0%
        </div>

        <div>
            RoomWidth：<input id="txtRoomWidth" type="text" value="500" />
            RoomHeight：<input id="txtRoomHeight" type="text" value="500" />
            <input type="button" id="btnEnter" value="Enter" onclick="return generateRoom()" />
        </div>

        <div>
            <canvas id="roomCanvas" style="border:1px solid black" width="500" height="500"></canvas>
            <div id="divProperty" class="property">
                <div class="property-title">
                    <div class="property-close" onclick="hideProperty()">×</div>
                </div>
                <div class="property-area">
                    <div>Identity:</div>
                    <div>
                        <div><span>id:</span><input type="text" id="txtId" value="" /></div>
                        <div><span>name:</span><input type="text" id="txtDisplayName" value="" /></div>
                    </div>
                </div>
                <div class="property-area">
                    <div>Position:</div>
                    <div>
                        <div><span>x:</span><input type="text" id="txtPositionX" value="" />px</div>
                        <div><span>y:</span><input type="text" id="txtPositionY" value="" />px</div>
                    </div>
                </div>
                <div class="property-area">
                    <div>Size:</div>
                    <div>
                        <div><span>width:</span><input type="text"  id="txtSizeWidth" value="" />px</div>
                        <div><span>height:</span><input type="text"  id="txtSizeHeight" value="" />px</div>
                    </div>
                </div>
                
                <div class="center" >
                    <input  type="button" value="Enter" onclick="return ResizeTool.unique.effectReferenceObjsProperty()" />
                </div>
            </div>

            <div id="divMultiTool" class="property">
                <div class="property-title">
                    <div class="property-close" onclick="hideMultiEditBar()">×</div>
                </div>
                <div>
                    <div onclick="ResizeTool.unique.alignReferenceObjs('top')" class="alignIcon" style="background-image: url('../../Source/topAlign.png');" title="Top Align"></div>
                    <div  onclick="ResizeTool.unique.alignReferenceObjs('buttom')" class="alignIcon" style="background-image: url('../../Source/buttomAlign.png');" title="Buttom Align"></div>
                    <div  onclick="ResizeTool.unique.alignReferenceObjs('left')" class="alignIcon" style=" background-image: url('../../Source/leftAlign.png');" title="Left Align"></div>
                    <div  onclick="ResizeTool.unique.alignReferenceObjs('right')" class="alignIcon" style="background-image: url('../../Source/rightAlign.png');" title="Right Align"></div> 
                    <div onclick="ResizeTool.unique.averageReferenceObjs('horizon')" class="alignIcon" style="background-image: url('../../Source/horizonAverage.png');" title="Horizon Average"></div> 
                    <div onclick="ResizeTool.unique.averageReferenceObjs('vertical')" class="alignIcon" style="background-image: url('../../Source/verticalAverage.png');" title="Vertical Average"></div> 
                </div>
                <div class="property-area">
                    <div>Identity:</div>
                    <div>
                        <div><span>name:</span><input type="text" id="txtMultiDisplayName" value="" /></div>
                    </div>
                </div>
                <div class="property-area">
                    <div>Size:</div>
                    <div>
                        <div><span>width:</span><input type="text" id="txtMultiSizeWidth" value="0" />px</div>
                        <div><span>height:</span><input type="text" id="txtMultiSizeHeight" value="0" />px</div>
                    </div>
                </div>

                <div class="center">
                    <input type="button" value="Enter" onclick="return ResizeTool.unique.effectReferenceObjsProperty()" />
                </div>
            </div>
        </div>

        <div>
            keyboard op:
            <input type="button" value="Ctrl+z" onclick="preStap()" />
            <input type="button" value="Ctrl+y" onclick="nextStap()" />
            <input type="button" value="←" onclick="keyboardLeftDown()" />
            <input type="button" value="↑" onclick="keyboardTopDown()" />
            <input type="button" value="→" onclick="keyboardRightDown()" />
            <input type="button" value="↓" onclick="keyboardButtomDown()" />
        </div>

        <div>
            <ul>
                <li>设置RoomWidth、RoomHeight按Enter按钮即可生成对应大小的Room</li>
                <li>直接拖拽ToolBar的Toll到Stage即可在Stage生成Tool</li>  
                <li>选中Stage中的对象可设置对象的属性，拖拽对象可以移动对象</li>
                <li>选中Stage中的对象,使用键盘上的↑↓←→方向键可以进行位置微调</li>
                <li>使用键盘Ctrl+z回到上一步操作，Ctrl+y回到下一步操作</li>
                <li>选中对象，按Delete键移除对象</li>
            </ul>
        </div>

        <div id="divImg">
            <img id="imgChair" src="~/Source/Chair.png" width="0" height="0" />
            <img id="imgDesk" src="~/Source/Desk.png" width="0" height="0" />
            <img src="~/Source/buttomAlign.png" width="0" height="0"/>
            <img src="~/Source/leftAlign.png" width="0" height="0"/>
            <img src="~/Source/rightAlign.png" width="0" height="0"/>
            <img src="~/Source/topAlign.png" width="0" height="0"/>
            <img src="~/Source/horizonAverage.png" width="0" height="0"/>
            <img src="~/Source/verticalAverage.png" width="0" height="0"/>
            <script>
                $("img").each(function () {
                    this.onload = function () {
                        sourceCount++;
                    }
                })
            </script>
        </div>

    </form>
   
    
</body>
</html>
